* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  height: 100%;
}
body {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

header {
  display: flex;
  border: 1px solid black;
  margin: 20px auto;
  width: 100%;
}

footer {
  margin-top: auto;
  text-align: center;
  border: 1px solid black;
  margin: 20px auto;
  width: 100%;
}

ul {
  list-style: none;
}

li {
  padding: 10px;
}

#interface {
  width: 80%;
  margin: auto;
  height: 100%;
}

/*-- search --*/

header input {
  margin: 0px 10% 0px auto;
  width: 20%;
}

#search-container {
  position: absolute;
  background-color: aquamarine;
  left: 70%;
  top: 50px;
  width: 20%;
  text-align: center;
}

/*-- welcome page --*/

#welcome-container {
  min-width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}

h1 {
  grid-column: span 12;
  text-align: center;
  margin-bottom: 30px;
}

#apple,
#samsung {
  background-color: red;
  grid-column: span 6;
  height: 300px;
}

.phones-list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  margin: 0 auto;
}

/*-- select element -- */
#more-brands-button {
  grid-column: 5/9;
  margin-top: 30px;
  height: 40px;
}
#select-container {
  grid-column: span 12;
  display: flex;
  justify-content: center;
}
#select {
  margin: 40px;
  text-align: center;
  height: 50px;
  font-size: large;
  width: 400px;
}

/*-- Apple page --*/

.phones-list div {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  padding: 10%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.phones-list h1 {
  font-size: large;
  text-align: center;
  margin-top: 50px;
  grid-column: span 12;
}

.phones-list div img {
  width: 80%;
  margin: auto;
}

.details-button {
  width: 50%;
  margin: 0 auto;
  padding: 5px;
}

/*-- details page -- */

#details-container {
  grid-column: 2 / 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

#details-container h1 {
  grid-column: span 12;
}

#details-container img {
  grid-column: 2 / 6;
  align-self: center;
}

#details-img {
  max-width: 100%;
}

#summary-container {
  grid-column: 7 / 12;
  align-self: center;
}

#summary-container h4 {
  min-width: 120px;
}

#summary-container li {
  display: flex;
  align-items: center;
  background-color: rgba(0, 255, 255, 0.325);
  margin-bottom: 10px;
}

#specific-data-container h2 {
  margin: 20px 0;
}

#specific-data-container {
  grid-column: 2 / 12;
}

#specific-data-container li {
  display: flex;
  align-items: center;
  background-color: rgba(0, 255, 255, 0.325);
  margin-bottom: 10px;
}

#specific-data-container h4 {
  flex: 1;
}

#specific-data-container span {
  flex: 2;
}
