@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
html {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  height: 100%;
  padding-top: 30px;
}

#interface {
  width: 80%;
  margin-left: 10%;
  min-height: 90%;
}

header,
footer {
  background-color: #22252c;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 100%;
}

#apple-img,
#samsung-img,
#search-container li,
#slider img,
button {
  cursor: pointer;
}

h1 {
  text-align: center;
}

ul {
  list-style: none;
}

li {
  padding: 10px;
}

/*--  error handling --*/
#err-page-container {
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  background-image: url(images/err.png);
  height: 600px;
  width: 600px;
}

#err-page-container h2 {
  margin-top: 20px;
}

/*-- header --*/

header {
  display: flex;
  width: 100%;
  height: 5%;
  padding: 0px 10%;
  justify-content: space-between;
  align-items: center;
}

header div {
  display: flex;
  align-items: center;
}

.logo h1 {
  margin-left: 20px;
}

.logo img {
  height: 100px;
}

header div i {
  margin-right: 10px;
}

/* search */

header input {
  width: 250px;
  border-radius: 3px;
  text-align: center;
  border: none;
  height: 25px;
  color: rgb(50, 49, 49);
  font-size: large;
}

#search-container {
  position: absolute;
  right: 10%;
  top: 60px;
  width: 250px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0 0 1% 1%;
}

#search-container li {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  border-radius: 5%;
  background-color: white;
  color: #18121e;
}

#search-container h3 {
  font-size: small;
}

#search-container img {
  height: 40px;
  margin-left: auto;
}
/*-- home page --*/

#main-container {
  min-width: 100%;
  padding-top: 100px;
}

#main-container img {
  margin-top: 40px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

article {
  width: 50%;
}

article div {
  height: 250px;
}
article h1 {
  text-align: start;
  margin-bottom: 20px;
  font-size: 36px;
}

article h2 {
  font-size: 22px;
}

/* select element */

#select {
  font-size: large;
  margin-top: 10px;
  width: 200px;
  height: 35px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  padding-right: 29px;
  direction: rtl;
}

aside {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

#apple,
#samsung {
  width: 50%;
  max-width: 300px;
}

#apple-img {
  width: 100%;
}

#samsung-img {
  width: 100%;
  border-radius: 17%;
  padding: 7%;
}

.main-img {
  width: 60%;
  margin: 300px 20% 10px 20%;
}

/*-- buttons --*/

button {
  background-color: #4a4c51;
  border: none;
  border-radius: 5%;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  color: whitesmoke;
}

#homepage-button,
.back-button {
  width: 10%;
  min-width: 80px;
  margin: 40px 45%;
  color: white;
}

#more-brands-button {
  height: 30px;
  width: 200px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: #e14658;
  color: white;
  font-weight: 900;
  letter-spacing: 2px;
}

.details-button {
  width: 50%;
  margin: 20px 25% 0 25%;
  padding: 5px;
}

/*-- phones list page --*/

.phones-list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
  margin-bottom: 100px;
}

.phones-list h1 {
  margin-bottom: 30px;
  grid-column: span 12;
}

.phones-list div {
  grid-column: span 3;
  display: flex;
  flex-direction: column;
  padding: 10%;
  border-radius: 10px;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  background-color: white;
}

.phones-list div h1 {
  font-size: medium;
  margin: 20px 0 0 0;
}

.phones-list div img {
  width: 100%;
  margin: auto;
}

/*-- details page -- */

#details-container {
  grid-column: 2 / 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-bottom: 100px;
  gap: 20px;
}

#details-container h1 {
  grid-column: span 12;
}

#details-container img {
  max-width: 100%;
  max-height: 100%;
}

#slider {
  grid-column: 2 / 7;
  height: 500px;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: center;
}

#summary-container {
  grid-column: 7 / 12;
  align-self: center;
}

#summary-container h4 {
  min-width: 120px;
}

#summary-container li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#specific-data-container {
  grid-column: 2 / 12;
  margin-top: 30px;
}

#specific-data-container h2 {
  margin: 50px 0 25px 0;
}

#specific-data-container li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
#specific-data-container div li:nth-child(odd) {
  background-color: #3f32500c;
}

#specific-data-container h4 {
  width: 20%;
  margin-right: 50px;
}

#specific-data-container span {
  flex: 2;
}

/*-- footer --*/

footer {
  height: 5%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  font-size: larger;
}

footer span i {
  margin-left: 10px;
  color: whitesmoke;
  padding: 5px;
}

/*-- Media Queries --*/

@media screen and (max-width: 1024px) {
  .container {
    height: 500px;
  }

  .phones-list div {
    grid-column: span 4;
  }

  #slider {
    grid-column: span 12;
    margin: 0 10% 50px 10%;
  }

  #slider img {
    max-width: 80%;
  }

  #summary-container {
    grid-column: 2/12;
  }

  #summary-container li {
    margin-bottom: 0;
  }

  #specific-data-container {
    grid-column: span 12;
  }
}
@media screen and (max-width: 820px) {
  .logo h1 {
    margin-left: 20px;
    font-size: large;
  }

  .logo img {
    height: 80px;
  }
  .phones-list div {
    grid-column: span 6;
  }
}

@media screen and (max-width: 600px) {
  html {
    max-height: 100%;
  }

  body {
    padding: 0;
    max-height: 100%;
  }

  h1 {
    font-size: 22px !important;
  }

  h2 {
    font-size: 18px !important;
  }

  h3 {
    font-size: 16px !important;
  }

  p {
    font-size: 14px !important;
  }

  header {
    padding: 10px;
    flex-direction: column;
    height: 180px;
    padding-bottom: 20px;
    margin: 0px;
  }

  .logo {
    flex-direction: column;
  }

  .logo h1 {
    margin: 0;
    margin-bottom: 10px;
  }

  #main-container {
    padding-top: 20px;
  }
  .main-img {
    width: 60%;
    margin: 50px 20% 0 20%;
  }

  .container {
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }
  article {
    min-width: 100%;
    margin: 0;
    height: 220px;
  }

  aside {
    min-width: 100%;
  }

  .phones-list div {
    grid-column: span 12;
  }

  #homepage-button {
    width: 30%;
    margin: 40px 35%;
  }

  #search-container {
    top: 160px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  header div i {
    display: none !important;
  }

  #slider {
    height: 250px;
    margin: 0;
  }
  #specific-data-container {
    grid-column: span 12;
  }
  #summary-container li {
    flex-direction: column;
    margin: 0;
    justify-content: center;
    text-align: center;
  }
}
