

#welcome-container{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows:repeat(5, 1fr);
    gap: 20px;
}

h1{
    grid-column: span 2;
    text-align: center;
}
#apple, #samsung{
    background-color: red;
    grid-row: span 4;
}