.hero-container {
  position: relative;
}

.hero-background {
  width: 100%;
}

.hero-mobile {
  width: 22%;
  right: 10%;
  position: absolute;
  top: 20%;
  z-index: 100;
}

.hero-info {
  width: 30%;
  top: 40%;
  left: 10%;
  position: absolute;
}

.hero-text {
  color: white;
  font-size: xx-large;
  font-family: "Raleway", sans-serif;
}

.brands-selector-container {
  margin-top: 20%;
  padding: 10px;
  width: 100%;
}

.selector-title {
  font-size: medium;
  color: white;
  border: 1px solid white;
  padding: 10px;
  min-width: 50%;
}
