@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --primary: #33373a;
  --secondary: #35a6e2;
}
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

#root {
  max-width: 1200px;
}
